/* Style sheet
Orange: EF773B
Yellow: E2D74A
Pink: CF215E
Teal: 0A5F5C
Brown: 2E2E30
*/

#wrapper {
  	margin: 0 auto;
    max-width: 960px;
}

.navigation img {
  position: absolute;
  top: 0;
  width:70px;
  height:70px;
  overflow: hidden;
}

.banner h1 {
  font-family: 'Monoton', cursive;
  color: #EF773B;
  font-size: 3rem;
  text-align: center;
}

.banner img {
  max-width: 100%;
}

.gallery h3 {
  color: #CF215E;
  font-size: 2rem;
}

/* MEDIA QUERIES
@media only screen and (max-width: 440px) {
  #wrapper {

  }
  .banner h1 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 440px) {
  .brand-logo {
    margin-left: 10px;
  }
}


/* //////////////////////////////// */

.gallery-card, .card-title, .page-footer, body, p {
  font-family: 'Raleway', sans-serif;
}

.gallery-card {
    font-size: 1.6rem;
}

.card-title {
  font-size: 1.6rem;
}

.grid-example {
  padding: auto 0 auto 0;
}

/*.card-title {
  font-family: 'Raleway', sans-serif;
}*/

/*.material-icons {
  color: #CF215E;
}*/

body {
  font-size: 10px;
}

p {
  font-size: 1.3rem;
}
